<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item
      routerLink="/map" (click)="sidenav.close()">
      <mat-icon class="icon">map</mat-icon>  
      &nbsp;<span class="label">Map</span>
    </a>
    <a mat-list-item
        routerLink="/driver" (click)="sidenav.close()">
      <mat-icon class="icon">perm_contact_calendar</mat-icon>  
      &nbsp;<span class="label">Driver</span>
    </a>
    <a mat-list-item
      routerLink="/vehicle" (click)="sidenav.close()">
      <mat-icon class="icon">directions_bus</mat-icon>  
      &nbsp;<span class="label">Vehicle</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Where is my VAN ?
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a
                  routerLink="/map">
                    <mat-icon class="icon">map</mat-icon>
                    &nbsp;<span class="label">Map</span>
                </a>
            </li>
            <li>
              <a
                routerLink="/driver">
                  <mat-icon class="icon">perm_contact_calendar</mat-icon>
                  &nbsp;<span class="label">Driver</span>
              </a>
            </li>
            <li>
                <a
                  routerLink="/vehicle">
                    <mat-icon class="icon">directions_bus</mat-icon>
                    &nbsp;<span class="label">Vehicle</span>
                </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>