<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="header-spacer"></span>
    <span>
      <mat-chip-list>
          <mat-chip color="accent" selected (click)="start.toggle()"><mat-icon>menu</mat-icon></mat-chip>
      </mat-chip-list>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="demo-drawer-container">
    <mat-drawer #start mode="over">
    <button mat-button (click)="start.close()">Close</button>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['pessoa']" (click)="start.close()">Pessoa</a>
      <a mat-list-item [routerLink]="['pessoa/cadastro']" (click)="start.close()">Pessoa Cadastrp</a>
      <a mat-list-item>Link</a>
      <a mat-list-item>Initially focused</a>
      <a mat-list-item>Focus region end</a>
      <a mat-list-item>Link</a>
    </mat-nav-list>
    </mat-drawer>

    <div class="demo-drawer-content">
      <router-outlet #o="outlet"></router-outlet>
    </div>
</mat-drawer-container>