<div>
  <mat-card>
    <mat-card-content >
        <mat-card-title >
          <button mat-icon-button color="accent" (click)="voltar()"><mat-icon>keyboard_backspace</mat-icon> </button>
          &nbsp;Vehicle
        </mat-card-title>
    </mat-card-content>

    <mat-card-content>
        <div fxLayout="row" fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Brand" id="brand" [(ngModel)]="vehicle.brand" required>
            </mat-form-field>
        </div>
      <div fxLayout="row" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" id="name" [(ngModel)]="vehicle.name" required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout="column">
        <mat-form-field>
            <textarea matInput placeholder="Model" id="model" [(ngModel)]="vehicle.model" required></textarea>
        </mat-form-field>
      </div>
      <!-- <div fxLayout="row" fxLayout="column" *ngIf="!vehicle.idUserFinishedBy">
          <button mat-button color="accent" (click)="save()"> 
              <mat-icon>save</mat-icon> Save
          </button>
      </div> -->
      <div fxLayout="row" fxLayoutAlign="end">
        <span class="send">
          <button mat-fab (click)="save()"> 
            <mat-icon>send</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-content>

  </mat-card>
</div>
