<div>
  <mat-card>
    <mat-card-content >
        <mat-card-title >
          Pessoa
        </mat-card-title>
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Nome" id="nome" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end">
        <span class="send">
          <button mat-fab>
            <mat-icon>send</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-content>

  </mat-card>
</div>
